<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.sysxx.system.mapper.InterfaceMapper">
    <insert id="createInterface" useGeneratedKeys="true" keyProperty="id">
        insert into interface(pid, project_id, path, restful_type, status, header_id, labels, service_id, des,
                              request_header, params, body, response_body, user_id, directory_id, name)
        values (#{pid}, #{projectId}, #{path}, #{restfulType}, #{status}, #{headerId}, #{labels}, #{serviceId},
                #{des}, #{requestHeader}, #{params}, #{body}, #{responseBody}, #{userId}, #{directoryId}, #{name})

    </insert>
    <select id="selectInterface" resultType="Interface">
        select *
        from interface
    </select>

    <select id="detailInterface" resultType="Interface">
        select *
        from interface
        where id = #{id}
    </select>

    <delete id="deleteInterface">
        delete
        from interface
        where id = #{id}
    </delete>
    <update id="updateInterface">
        update interface
        set pid=#{pid},
            project_id=#{projectId},
            path=#{path},
            restful_type=#{restfulType},
            status=#{status},
            header_id=#{headerId},
            labels=#{labels},
            service_id=#{serviceId},
            des=#{des},
            request_header=#{requestHeader},
            params=#{params},
            body=#{body},
            response_body=#{responseBody},
            user_id=#{userId},
            directory_id=#{directoryId},
            name=#{name}
        where id = #{id}
    </update>


</mapper>