<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.sysxx.system.mapper.InterfaceMapper">
    <insert id="createInterface">
        insert into interface(pid, project_id, path, restful_type, status, header_id, labels, service_id, des,
                              request_header, params, body, response_body, user_id, directory_id, name)
        values (#{pid}, #{projectId}, #{path}, #{restfulType}, #{status}, #{headerId}, #{labels}, #{serviceId},
                #{des}, #{requestHeader}, #{params}, #{body}, #{responseBody}, #{userId}, #{directoryId}, #{name})

    </insert>
    <select id="selectInterface" resultType="Interface">
        select *
        from interface
    </select>

</mapper>